<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <div>
            <header>
                <div class="navbar navb ar-default">
                    <h1 v-text="sitename"></h1>
                </div>
            </header>
        </div>
        <div v-if="showProduct">
            <main>
                <div class="row">
                    <div class="row product">
                        <div class="col">
                            <figure><img v-bind:src="product.img" alt=""></figure>
                        </div>
                        <div class="col col-expand">
                            <h1 v-text="product.title"></h1>
                            <p v-html="product.description"></p>
                            <p>{{ product.price | formatPrice }}</p>
                            <p>현재 재고량 : {{ remaindInventory }}</p>
                            <button v-if="canAddToCart" class="btn btn-primary btn-lg" @click="addToCart">장바구니
                                담기</button>
                            <button v-else disabled class="btn btn-secondary btn-lg">장바구니 담기</button>
                            <button class="btn btn-warning btn-lg" @click="showCheckout">주문하기</button>
                            <button class="btn btn-secondary btn-lg" @click="emptyToCart">비우기</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div v-else class="row">
            <!-- 1. 구매자 -->
            <div>
                <h3><strong>구매자</strong></h3>
                <!-- 이름 -->
                <div class="col-md-6">
                    <strong>이름:</strong>
                    <input v-model.trim="order.firstName" class="form-control">
                </div>
                <!-- 결제수단 -->
                <div class="form-group">
                    <div class="col-md-6 boxes">
                        <strong>결제유형 : </strong>
                        <input type="radio" id="cash" :value="order.cash" v-model="order.payment">
                        <label for="cash">현금</label>
                        <input type="radio" id="card" :value="order.card" v-model="order.payment">
                        <label for="cash">카드</label>
                        <input type="radio" id="point" :value="order.point" v-model="order.payment">
                        <label for="cash">포인트</label>
                    </div>
                </div>
                <!-- 연락처 -->
                <div class="col-md-5">
                    <strong>연락처:</strong><br>
                    <input v-model="order.phone" class="form-control">
                </div>
                <!-- 주소 -->
                <div class="col-md-4">
                    <strong>주소:</strong><br>
                    <!-- <input v-model="order.addresses" class="form-control"> -->
                        우편번호 : <input v-model.number="order.zip" class="form-control">
                        주소 : <input v-model="order.address" class="form-control">
                        상세주소 : <input v-model="order.detailAddress" class="form-control">

                </div>
                <!-- 요청사항[select] -->
                <div class="form-group">
                    <div class="col-md-4"><strong>요청사항</strong>
                        <select v-model="order.request" class="form-control">
                            <option disabled value="">요청사항</option>
                            <option v-for="(v, k) in requests" :value="k">{{ v }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2. 배송지 -->
            <!--check-->
            <div>
                <div class="col-md-6 boxes">
                <h3><strong>배송지</strong></h3>
                <input type="checkbox" value="" v-model="order.sameInfo" @click="showInfo">
                <label for="Delivery">구매자와 동일</label>
                    <div class="form-group">
                        <div class="col-md-5">
                            <strong>수령인명:</strong>
                            <input v-model.trim="order.newFirstName" class="form-control" value="">
                        </div>
                        <div class="col-md-5">
                            <strong>연락처:</strong>
                            <input v-model.trim="order.newPhone" class="form-control">
                        </div>
                        <div class="col-md-5">
                            <strong>우편번호:</strong>
                            <input v-model.trim="order.newZip" class="form-control">
                        </div>
                        <div class="col-md-5">
                            <strong>주소:</strong>
                            <input v-model.trim="order.newAddress">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3. 전송하기 -->
            <div>
                <button class="btn btn-primary btn-lg" @click="submitBtn">전송하기</button>
            </div>
            
        </div>
    </div><!-- END OF v-else -->

    <!-- 입력한 값을 자동으로 데이터에 지정된 프로퍼티 값을 변경한다 -->
    <!-- end of app -->

    <script>
        var APP_LOG_LIFECYCLE_EVENTS = true;

        function w(msg) {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log(msg);
            }
        }

        window.onload = function () {
            let temp = JSON.parse(localStorage.getItem("cart"));
            if (temp) {
                webstore.cart = temp;
            }
        }

        let webstore = new Vue({

            el: '#app',
            data: {
                sitename: 'Vue.js 애완용품샵',
                product: {
                    id: 1001,
                    title: "고양이 사료, 25파운드",
                    description: "당신의 고양이를 위한 <b>거부할 수 없는</b>, " +
                        "유기농 25파운드 사료입니다.",
                    price: 2000,
                    img: "assets/images/product-fullsize.png",
                    inventory: 5,
                },
                cart: [], // 카트 아이템을 담은 배열
                showProduct: true,
                
                order: {
                    payment: '',
                    cash: '현금',
                    card: '카드',
                    point: '포인트',
                    postCode: '',
                    address: '',
                    detailAddress: '',
                    firstName: '',
                    sameInfo : '',
                },
                requests: {
                    first: '배송 전 연락바랍니다.',
                    second: '문 앞에 놔주세요',
                    third: '경비실에 맡겨주세요',
                    four: '배송 후 문자 남겨주세요',
                },
            },
            computed: {
                productName() {
                    return `[${this.product.id}] ${this.product.title}`;
                },
                cartItemCount() {
                    return this.cart.length;
                },
                remaindInventory() {
                    let v = this.product.inventory - this.cart.length;
                    return v > 0 ? `${v}개` : `없음`;
                },
                canAddToCart() {
                    return this.product.inventory > this.cart.length;
                }

            }, // end of computed
            filters: { // 출력 필터를 포함
                formatPrice(price) {
                    if (!parseInt(price)) { return ""; } // 정수를 받지 못하면 즉시 "" 반환
                    if (price > 99999) // $1,000이상의 값들을 형식화
                    {
                        var priceString = (price / 100).toFixed(2); // 소수로 변환
                        var priceArray = priceString.split("").reverse(); // reverse : 데이터를 반대로 출력
                        var index = 3;

                        while (priceArray.length > index + 3) // 세자리마다 쉽표 삽입
                        {
                            priceArray.splice(index + 3, 0, ', ');
                            index += 4;
                        }
                        return "$" + priceArray.reverse().join("");
                    }
                    else {
                        return "$" + (price / 100).toFixed(2);
                    }
                }
            }, // end of filters
            methods: {
                addToCart() // 장바구니 담기 버튼
                {
                    if (this.product.inventory > this.cart.length) // product의 inventory 수가 cart 배열의 길이보다 크다면?
                    {
                        this.cart.push(this.product.id); // cart 배열에 product.id를 push
                    }
                    this.saveCart();
                },
                showCheckout() // 주문하기 버튼
                {
                    if (this.cart.length == 0) {
                        alert("장바구니에 물품이 없습니다.");
                    } else {
                        this.showProduct = this.showProduct ? false : true;
                    }
                },
                emptyToCart() // 장바구니 비우기
                {
                    this.cart = [];
                    this.saveCart();
                },
                saveCart() {
                    window.localStorage.setItem("cart", JSON.stringify(this.cart));
                },
                submitForm() {
                    alert('주문하기 제출 완료');
                },
                showInfo() {
                    if(this.order.sameInfo == false) {
                        this.order.newFirstName = this.order.firstName;
                        this.order.newPhone = this.order.phone;
                        this.order.newAddress = this.order.address + this.order.detailAddress;
                        this.order.newZip = this.order.zip;
                    } else {
                        this.order.newFirstName = '';
                        this.order.newPhone = '';
                        this.order.newAddress = '';
                        this.order.newZip = '';
                    }
                },
                submitBtn() {
                    let phoneChk = /^(01[016789])(-{0,1})([0-9]{3,4})(-{0,1})([0-9]{4})$/;
                    if(this.order.firstName == '' ||
                       this.order.phone == '' ||
                       this.order.zip == '' ||
                       this.order.address == '' ||
                       this.order.detailAddress == '' ||
                       this.order.requests == '' ||
                       this.order.payment == '')
                       {
                           alert('모두 입력해주세요');
                        
                       } else if(!phoneChk.test(this.order.phone)){
                            alert('전화번호를 제대로 입력해주세요!')
                         } else if(isNaN(this.order.zip) == true){
                            alert('우편번호는 숫자만 입력가능합니다!');
                       } else {
                            alert('성공!');
                       }
                },

            }, // end of methods

        }); // end of Vue
    </script>
</body>

</html>